<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Facturación Hamburguesas clasic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body class="body">
    <div id="loader">
        <canvas id="rive-canvas" width="300" height="300"></canvas>
    </div>
    <form method="POST" onsubmit="mostrarLoader()">
    </form>
    <script src="https://unpkg.com/@rive-app/webgl@2.11.1"></script>
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <div class="contenido">
        
    <h1>🍔 Hamburguesas Clasic</h1>
    {% if mensaje %}
        <p style="color: red;">{{ mensaje }}</p>
    {% endif %}

    <form method="post">
        <h2>Menú</h2>
        {% for i in range(catalogo|length) %}
            <div class="producto">
                <label>{{ catalogo[i].nombre }} - ${{ "{:,.2f}".format(catalogo[i].precio_unitario) }} COP</label>
                <input type="number" name="producto_{{ i }}" min="0" value="0">
            </div>
        {% endfor %}
        <br>
        <button type="submit">Generar factura</button>
    </form>

    {% if items %}
        <div class="factura">
            <h2>🧾 Detalle de Factura</h2>
            <ul>
                {% for item in items %}
                    <li>
                        {{ item.cantidad }} x {{ item.nombre }} ({{ item.precio }} c/u) = {{ item.subtotal }}
                    </li>
                {% endfor %}
            </ul>
            <p class="total">💰 Total: {{ total }} COP</p>
        </div>
    {% endif %}
    </div>
</body>
</html>
